/* Typography */

html {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}


/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

main>.intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

main>.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social i {
  padding: 10px;
}

#icons-social {
  margin: 0 auto;
  width: 1050px;
  height: 175px;
  margin-top: 89px;
}

.icons_social {
  width: 50px;
  float: center;
  width: 100px;
  height: 85px;
}

.icons_social span {
  display: block;
}

.sidebar-social a:hover i.fa-main {
  color: cyan;
}

.sidebar-social a:hover i.fa-LinkedIn {
  color: cyan
}

.sidebar-social a:hover i.fa-Medium {
  color: cyan
}

.sidebar-social a:hover i.fa-YouTube {
  color: cyan
}

.sidebar-social a:hover i.fa-Facebook {
  color: cyan
}

.sidebar-social a:hover i.fa-DarkJpeg {
  color: cyan
}

.sidebar-social a:hover i.fa-Encrypted Crack {
  color: cyan
}

.sidebar-social a:hover i.fa-Slack {
  color: cyan
}


}
.devto {
  margin-bottom: -0.20rem;
}
.devto svg {
  margin-bottom: -0.20rem;
  margin-left: 0.675rem;
  ;
  width: 2.65rem;
  height: 2.65rem;
}

.icons-social a{
display:inline-block;
}

.btn {
    background-color: red;
    border: 3d;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 22%;
    font-size: 20px;
    display:block;
    width 20%
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

  
